table {
    border-collapse: collapse;
    width: 100%;
    border-color: #28547a;
    border: 3px;
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color:#dae4ed;
}

